
th {
    background-color: #02F;
    color: #FFF;
}


tr.other {
    background-color: #DDD;
}

ul {
    list-style-type: circle;
    margin: 10px;
    padding: 10px;
}

li {
    list-style-type: none;
    stroke: ActiveBorder;
    /*https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_lists_avatar*/
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

    li:last-child {
        border: none;
    }

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
li:nth-child(1) {
    background: #fff;
}
li:nth-child(2) {
    color:#2f2;
    background: #022;
}
li:nth-child(3) {
    color:#FFF;
    background: #02F;
}

