h1{
    margin:0;
}
#secMouser{
    border:3px solid #888;
    background-color:#EEE;
    position:relative;
    margin :auto;
    width: 50%;
    padding: 20px;
}
p{
    border:2px solid #08F;
    position:relative;
    width: 60%;
    margin:5px;
    left:0;
    padding: .5em;
    cursor: pointer;
}
.pressed{
    border:2px solid #F80;
    background-color:#FE8;
    border-radius: .5em;
    left:5em;    
}
h1 .overHead{
    color:#08F;
    font-weight: normal;
}
#mouseCoords{
    border:1px solid #000;
    padding:.5em;
    position:absolute;
    top:0;
    right:0;
}
#btnSayHello{
    margin-left: 40%;
}
li:nth-child(2) {
    background: #FFF;
}