@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Team :WebMasters </p>
<p>ClassWeb: Assignment Management System</p>
<p>
    <ul>
    <li>Kishor Simkhada</li>
    <li>Elvis Shrestha</li>
    <li>Ganesh Sapkota</li>
    <li>Mohan S Madai</li>
    <li>Sakshi Khetan</li>
    <li>Meshari Alhazani</li>
    </ul>
</p>
