@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    921 South 8th Ave</br>
    Pocatello, ID 83209 Stop 8020
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a>
</address>
