@using System.Web;
@model List<string>;


<a style="color:blue" href='javascript:history.go(-1)'>Return back</a><br /><br />

@*<ejs-richtexteditor id="iframe" value="@Html.Raw(HttpUtility.HtmlDecode(ViewBag.FileData.Replace(System.Environment.NewLine, "<br/>")))" class="embed-responsive-item container">
        <e-richtexteditor-iframesettings enable="true"></e-richtexteditor-iframesettings>
    </ejs-richtexteditor>*@

@if (ViewBag.content == "Html")
{
    <ejs-richtexteditor id="types" editorMode="Markdown" height="720px" value="@ViewBag.FileData.">
        @*<e-richtexteditor-iframesettings enable="true"></e-richtexteditor-iframesettings>*@
        @*<e-richtexteditor-htmleditor></e-richtexteditor-htmleditor>*@
    </ejs-richtexteditor>
}

else
{
    <ejs-richtexteditor id="types" editorMode="HTML" height="720px" value="@ViewBag.FileData.Replace(System.Environment.NewLine, "<br/>")">
    </ejs-richtexteditor>
}



@*<div>
    <ejs-calendar id="calendar"></ejs-calendar>
 </div>*@

