@using System.Web;
@model List<string>;

@*Created By: Elvis
    Created on: 03/20/2019
    Text Editor Tool for ASP.NET Core by Syncfusion
    Reference: https://ej2.syncfusion.com/aspnetcore/documentation/getting-started/visual-studio-2017/?no-cache=1
    Used the reference to install syncfusion UI tools and use text editor*@

<a style="color:blue" href='javascript:history.go(-1)'>Return back</a><br /><br />

@*<ejs-richtexteditor id="iframe" value="@Html.Raw(HttpUtility.HtmlDecode(ViewBag.FileData.Replace(System.Environment.NewLine, "<br/>")))" class="embed-responsive-item container">
        <e-richtexteditor-iframesettings enable="true"></e-richtexteditor-iframesettings>
    </ejs-richtexteditor>*@

@if (ViewBag.content == "Html")
{
    <ejs-richtexteditor id="types" editorMode="Markdown" height="720px" value="@ViewBag.FileData.">
        @*<e-richtexteditor-iframesettings enable="true"></e-richtexteditor-iframesettings>*@
        @*<e-richtexteditor-htmleditor></e-richtexteditor-htmleditor>*@
    </ejs-richtexteditor>
}

else
{
    <ejs-richtexteditor id="types" editorMode="HTML" height="720px" value="@ViewBag.FileData.Replace(System.Environment.NewLine, "<br/>")">
    </ejs-richtexteditor>
}



@*<div>
    <ejs-calendar id="calendar"></ejs-calendar>
 </div>*@

