@model ClassWeb.Controllers.FileEditorController.DataModel;
@{
    ViewData["Title"] = "Home Page";
}
<p>@ViewBag.Success</p>
<a style="color:blue" href='javascript:history.go(-2)'>Return back</a><br /><br />

<form id="send_form" asp-action="Test" asp-controller="FileEditor">
    <input type="hidden" value=@ViewBag.FileName name="FileName" />
    <div class="col-md-7">
        <div class="form-group">
            <ejs-richtexteditor ejs-for="Value" id="Value"></ejs-richtexteditor>
            <br />
        </div>
    </div>


</form>

@section Scripts{
    <script>
        $("#btn").on("click", function () {
            var rteObj = document.getElementById("Value").ej2_instances[0];
            alert("getHTML : " + rteObj.getHtml());
            alert("Value : " + rteObj.value);
            alert("getText : " + rteObj.getText());
        });
    </script>
}