
@{
    ViewData["Title"] = "CreateFolder";
}

<h2>CreateFolder</h2>

<p style="color:blue">@ViewBag.folder</p>


<div class="modal-body">
    <form asp-action="CreateFolder1" id="CreateFolderForm" asp-controller="Assignment" method="post">
        <label for="folderName">Folder Name:</label>
        <input name="folderName" id="folderName" value="" />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <!--https://stackoverflow.com/questions/16154216/twitter-bootstrap-modal-form-submit-->
    <button type="submit" class="btn btn-primary" onclick="event.preventDefault();document.getElementById('CreateFolderForm').submit();">Create Folder</button>
</div>