
@model IEnumerable<ClassWeb.Models.Assignment>
@{
    ViewData["Title"] = "Index";
}

<a style="color:blue" href="@ViewData["Files"]" target="_blank">Browse Assignment Directory</a><br /><br />
<p style="color:Green">@ViewData["Success"]</p>
<h4 class="text-info font-weight-bold">Upload Assignment</h4>
<div class="input-group">
    <form method="post" enctype="multipart/form-data" asp-controller="Assignment" asp-action="Index">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <br /><input type="submit" value="Upload" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/file.js"></script>
