@{
    ViewData["Title"] = "View";
}
<a style="color:blue" href='javascript:history.go(-2)'>Return to the dashboard</a><br /><br />
<a style="color:blue" href='javascript:history.go(-1)'>Return back</a><br /><br />

<h2>View</h2>
<div class="w-100 p-3 h-100">
    <iframe src="@ViewBag.ImageData" class="embed-responsive-item container" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>