@{
    ViewData["Title"] = "View";
}

<h2>View</h2>
<div class="w-100 p-3 h-100">
    <iframe src="@ViewBag.Data" class="embed-responsive-item container" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>