@using ClassWeb.Models
@model GroupLoginModel
@{
    ViewData["Title"] = "AddUser";
}

<p style="color:red">@ViewBag.Error</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h2 style="color: darkorange">Add a new user.</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="EmailAddress"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <a asp-controller="Group" asp-action="AddUser">Add users</a>

            
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}