@model IEnumerable<ClassWeb.Models.Course>
@*@model List<ClassWeb.Models.Course>*@

@{
    var courses = (List<Course>)ViewBag.Courses; // Cast the list
}
<h3 style="color:cadetblue"> Course Info:</h3>
@{
    var data = ViewBag.Courses;
}
<table class="table">
    <thead>
        <tr>
            <th>
                <p>ID</p>
            </th>
            <th>
                <p>Title</p>
            </th>

            <th>
                <p>CourseNumber</p>
            </th>
            <th>
                <p>CourseTitle</p>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in courses) // Print the list
        {
        <tr>
            <td>
                @c.ID
            </td>
            <td>
                @c.Title
            </td>
            <td>
                @c.Name
            </td>

            <td>
                @c.Description
            </td>
        </tr>
        }
    </tbody>
</table>