@model ClassWeb.Models.CourseSemester

@{
    ViewData["Title"] = "Create";
    string check = ViewBag.Professor;
}


<a style="color:blue" href='javascript:history.go(-1)'>Return back</a><br /><br />

<h2>Create</h2>

<h4>CourseSemester</h4>
<hr />
<div style="float:left; width: 500px" class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CRN" class="control-label"></label>
                <input asp-for="CRN" class="form-control" />
                <span asp-validation-for="CRN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseID" class="control-label"></label>
                <input asp-for="CourseID" class="form-control" />
                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemesterID" class="control-label"></label>
                <input asp-for="SemesterID" class="form-control" />
                <span asp-validation-for="SemesterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearID" class="control-label"></label>
                <input asp-for="YearID" class="form-control" />
                <span asp-validation-for="YearID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionID" class="control-label"></label>
                <input asp-for="SectionID" class="form-control" />
                <span asp-validation-for="SectionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input asp-for="DateStart" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEnd" class="control-label"></label>
                <input asp-for="DateEnd" class="form-control" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>

            @*@if(check != "True"){
        <div class="form-group">
        <label>Professor ID</label>
        <input asp-for="UserID" class="form-control" />
        <span asp-validation-for="UserID" class="text-danger"></span>
        </div>
        }*@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div class="SectionDisplay" style="float:right">
    @await Html.PartialAsync("_SectionPartial.cshtml")&nbsp; &nbsp; &nbsp;
</div>
<div class="YearDisplay" style="float:right">
    @await Html.PartialAsync("_YearPartial.cshtml")&nbsp; &nbsp; &nbsp;
</div>

<div class="SemDisplay" style="float:right">
    @await Html.PartialAsync("_SemesterPartial.cshtml")
</div>
<div class="CourseDisplay" style="float:right">
    @await Html.PartialAsync("_CoursesPartial.cshtml")
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

