@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Dashboard ";

}
<div>
        <h3 style="color:darkorange;display:inline-block">User Dashboard</h3><br />
        <p class="text-danger">@TempData["Message"]</p>
        <p class="text-danger">@TempData["Error"]</p>
        <h4 style="color:blue; font-size: 20px">Welcome, @Context.Session.GetString("username")</h4><br />

    <a style="color:blue" href="/Assignment/index" target="_blank">Browse Your Files Directory</a><br /><br />
    @*<a style="color:blue" href="/Class/index" target="_blank">Classes Details</a><br /><br />*@
    <a style="color:blue" asp-controller="Assignment" asp-action="Index"><strong>Upload Files</strong></a> <br /><br />



