@using ClassWeb.Models
@model EmailSenderModel
@{
    ViewData["Title"] = "Send Email";
}
<p style="color:red">@ViewBag.Error</p>
<p style="color:Blue">@ViewBag.Success</p>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="SendEmailAsync" asp-controller="Account" method="post">
                <h3 style="color:darkorange"> Send Email ClassWeb.</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmailAddress"></label>
                    <input asp-for="EmailAddress" class="form-control" name="email" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Subject"></label>
                    <input asp-for="Subject" class="form-control" name="subject" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message"></label>
                    <input asp-for="Message" class="form-control" name="message" />
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Send</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

