@using Microsoft.AspNetCore.Http;
@model List<ClassWeb.Models.User>
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Admin Dashboard</h2>

<div style="float:right">
    <a href="EditProfile"><i style="font-size: 30px; float: right" class="glyphicon glyphicon-user"></i></a>
    <a href="Notification"><i style="font-size: 30px; float:right" class="glyphicon glyphicon-bell"></i></a>

    <br /><br />
    <a style="color:darkblue; float: right" asp-controller="account" asp-action="logout">Logout</a>
    <a style="color:darkblue; float: right" asp-controller="account" asp-action="">Edit Profile <text>&nbsp;</text></a>
</div>


<!-- Page content -->
<div style="float:left">
    <br /><br /><br />
    <div style="height:40px; background-color:lightcyan"><h4>&nbsp; Welcome, @Context.Session.GetString("username"). You don't have any pending task today.</h4></div>
    <br />&nbsp;<a href="Default.aspx"><img style="width:15%; height:15%" src="images/ViewUsers.png" /></a>
    &nbsp;&nbsp;<a href="Default.aspx"><img style="width:15%; height:15%" src="images/RegisterUser.png" /></a>
    &nbsp;&nbsp;<a asp-controller="Role" asp-action="Index"><img style="width:18%; height:18%" src="images/ManageRoles.png" /></a>
</div>

<div class="UsersDisplay" style="float:right"> 
    @await Html.PartialAsync("_UsersViewPartial.cshtml", Model)
</div>



