
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Admin Dashboard</h2>

<!-- The sidebar -->
<!-- https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp -->

<div class="sidebar">
    <a class="active" href="#home">Manage Users</a>
    <a href="#home">Manage Courses</a>
    <a href="#home">Manage Sections</a>
    <a href="#about">Manage Roles</a>
    <a href="#news">View Users</a>
    <a href="#contact">View Courses</a>
    <a href="#about">Manage Roles</a>
</div>

<!-- Page content -->
<div class="content">
    <br /><p>&nbsp; Welcome, Admin. You don't have any pending task today.</p>
</div>

