@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Dashboard";
}



<body>
    <div style="float:right">
    <a href="EditProfile"><i style="font-size: 30px; float: right" class="glyphicon glyphicon-user"></i></a>
    <a href="Notification"><i style="font-size: 30px; float:right" class="glyphicon glyphicon-bell"></i></a>

    <br /><br />
    <a style="color:darkblue; float: right" asp-controller="account" asp-action="logout">Logout</a>
    <a style="color:darkblue; float: right" asp-controller="account" asp-action="">Edit Profile <text>&nbsp;</text></a>
    </div>

    <div class="sidenav">
        <a href="ProfessorDashboard">Dashboard</a>
        <a href="/CourseSemester/Index">View Classes</a>
        <a href="#clients">Manage Classes</a>
        <a href="#contact">View All Students</a>
        <a href="">View All Registered Users</a>
    </div>

    <div class="main">
        <h3 style="color:darkorange;display:inline-block">User Dashboard</h3><br />
        <p>Welcome, @Context.Session.GetString("username") </p>
        <p style="color:darkorange">Active Classes:</p>

        <a asp-controller="CourseSemester" asp-action="Index">
            <div style="background-color: lightseagreen; height: 150%;" class="card">
                <div class="container">
                    <h4><b>INFO 4407 -02 </b></h4>
                    <p>Fall 2019</p>
                    <h4>Number of Students: 21</h4>
                </div>
            </div>
        </a>

    </div>

</body>