@model ClassWeb.Models.Assignment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<h4>Assignment</h4>
<hr />
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 ">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item">Document </li>
                    <li class="breadcrumb-item active">upload </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<p><strong>Select Multiple files to Upload:</strong></p>



<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="Assignment"
              enctype="multipart/form-data">
            @if (!string.IsNullOrEmpty(ViewBag.success))
            {
                <div class="alert alert-success" role="alert">
                    <strong>Success!</strong> @ViewBag.success.
                </div>}
            @if (!string.IsNullOrEmpty(ViewBag.error))
            {
                <div class="alert alert-warning" role="alert">
                    <strong>Failed!</strong> @ViewBag.error.
                </div>}
            <input id="files" name="files" type="file" multiple onchange="fileUpload('files');" />
        </form>
    </div> <a asp-action="Index" class="active">Submit Assignment</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/file.js"></script>

