@model ClassWeb.Models.Role

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Role</h4>
<hr />

<p style="color:red">@ViewBag.RoleUpdate</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Users" class="control-label"></label><br />
                <input type="hidden" asp-for="Users" class="form-control" />
                <span asp-validation-for="Users" class="text-danger"></span>

                <label>
                    DAVESet(Enter as decimal e.g. 15 for full DAVE control)<input asp-for="Users.DAVESet" class="form-control" />
                </label><br /><br />

                <label asp-for="Roles" class="control-label"></label>
                <input type="hidden" asp-for="Roles" class="form-control" />
                <span asp-validation-for="Roles" class="text-danger"></span>

                <label>
                    DAVESet(Enter as decimal e.g. 15 for full DAVE control)<input asp-for="Roles.DAVESet" class="form-control" />
                </label><br /><br />

                <label asp-for="Assignment" class="control-label"></label>
                <input type="hidden" asp-for="Assignment" class="form-control" />
                <span asp-validation-for="Assignment" class="text-danger"></span>

                <label>
                    DAVESet(Enter as decimal e.g. 15 for full DAVE control.)<input asp-for="Assignment.DAVESet" class="form-control" />
                </label><br /><br />
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

